# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp

# Model artifacts (лучше не класть в image)
weather_model.pkl
models/

temp/
