# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ML artifacts
# =========================
weather_model.pkl
*.joblib
*.h5
*.pt
models/

# =========================
# Data files (если появятся)
# =========================
data/
*.csv

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# PostgreSQL local dumps
# =========================
*.sql
*.dump

temp/
